.first-round{
  display: flex;
  flex-direction: column;
}

.round-title{
  font-size: x-large;
  text-align: center;
  color: #833934;
}

.player-turn{
  text-align: center;
  color: #833934;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(6, 16%);
  text-align: center;
  justify-content: center;
}

.grid-container #category{
  font-size: x-large;
  color: #833934;
  border: solid;
}

.grid-container #question-grid{
  font-size: large;
  color: #833934;
  border: solid;
}

.grid-container #question-grid:hover{
  font-weight: bold;
  font-size: xx-large;
}

